In [4]:
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1878-5713

 Directory of C:\Users\ibrah\Documents\GitHub\YapayZekaKamp\Projects\Military Powers of Countries

16.10.2022  21:43    <DIR>          .
16.10.2022  21:43    <DIR>          ..
16.10.2022  21:40    <DIR>          .ipynb_checkpoints
16.10.2022  21:41             1.861 Military Powers of Countries.ipynb
16.10.2022  21:38            43.045 World military power.xlsx
               2 File(s)         44.906 bytes
               3 Dir(s)  115.151.519.744 bytes free

In [7]:
df=pd.read_excel("World military power.xlsx")

In [8]:
df.head()

,2020 ranking,Unnamed: 1,Airforce Strength,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Geography,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,Military Strength,Military Strength Power Index,Aircraft Strength,Aircraft Strength value,Fighter/Interceptor Strength,Fighter/Interceptor Strength value,Attack Aircraft Strength,Attack Aircraft Strength value,Transport Aircraft Fleet Strength,Transport Aircraft Fleet Strength value,...,Total Population,Total Population value,Total Square Land Area,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
1,Afghanistan,1.3444,Afghanistan,260.0,Afghanistan,0.0,Afghanistan,25.0,Afghanistan,30.0,...,Afghanistan,"3,49,40,837",Afghanistan,"6,52,230",Afghanistan,0.0,Afghanistan,1200.0,Afghanistan,5987.0
2,Albania,2.3137,Albania,19.0,Albania,0.0,Albania,0.0,Albania,0.0,...,Albania,"30,57,220",Albania,28748.0,Albania,362.0,Albania,41.0,Albania,691.0
3,Algeria,0.4659,Algeria,551.0,Algeria,103.0,Algeria,22.0,Algeria,59.0,...,Algeria,"4,16,57,488",Algeria,"23,81,741",Algeria,998.0,Algeria,0.0,Algeria,6734.0
4,Angola,0.8379,Angola,295.0,Angola,72.0,Angola,18.0,Angola,30.0,...,Angola,"3,03,55,880",Angola,"12,46,700",Angola,1600.0,Angola,1300.0,Angola,5369.0

In [10]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [ ]:
x=df[[""]]