In [1]:
import pandas as pd
import numpy as np
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [ ]:
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [ ]:
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [ ]:
t = pd.Timestamp('2016-07-10 10:15')

In [ ]:
t

Timestamp('2016-07-10 10:15:00')

In [ ]:
pd.Period('2016-01')

Period('2016-01', 'M')

In [ ]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [ ]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [ ]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [ ]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [ ]:
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [ ]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('2 days')

Period('2016-01-03 10:10', 'T')

In [ ]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [ ]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [ ]:
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [ ]:
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [ ]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [ ]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [ ]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [ ]:
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int64

In [ ]:
periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01    0.657739
2016-02   -0.374642
2016-03    1.001489
Freq: M, dtype: float64

In [ ]:
type(ts.index)

pandas.core.indexes.period.PeriodIndex

In [ ]:
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [ ]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [ ]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45']

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int64

In [ ]:
ts['2016-07-10 08:30':'2016-07-10 11:45']

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int64

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D')
rng.tz

In [ ]:
rng_tz = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D', tz = 'Europe/London')
rng_tz.tz

In [ ]:
rng_tz

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10', '2012-03-11', '2012-03-12', '2012-03-13',
               '2012-03-14', '2012-03-15', '2012-03-16', '2012-03-17',
               '2012-03-18', '2012-03-19', '2012-03-20'],
              dtype='datetime64[ns, Europe/London]', freq='D')

In [ ]:
from pytz import common_timezones, all_timezones
print(len(common_timezones))
print(len(all_timezones))
print(set(all_timezones) - set(common_timezones))

439
591
{'Asia/Rangoon', 'America/Coral_Harbour', 'Australia/Tasmania', 'Australia/Victoria', 'GMT0', 'CST6CDT', 'Etc/GMT+5', 'Etc/GMT-8', 'Asia/Chongqing', 'Poland', 'Etc/GMT+12', 'Pacific/Ponape', 'Iran', 'EST5EDT', 'Europe/Belfast', 'Kwajalein', 'Australia/Yancowinna', 'Antarctica/South_Pole', 'Chile/Continental', 'Israel', 'Mexico/BajaNorte', 'Australia/Canberra', 'GB-Eire', 'Asia/Thimbu', 'Asia/Tel_Aviv', 'Etc/GMT-9', 'America/Indianapolis', 'Etc/GMT-0', 'Brazil/West', 'Australia/ACT', 'MET', 'ROC', 'Etc/GMT-6', 'Asia/Ulan_Bator', 'America/Atka', 'Etc/GMT+11', 'Etc/GMT+3', 'US/Indiana-Starke', 'America/Porto_Acre', 'Etc/UTC', 'Asia/Calcutta', 'America/Jujuy', 'Portugal', 'Etc/GMT-12', 'GMT-0', 'Etc/GMT-14', 'Canada/Yukon', 'Libya', 'GB', 'Egypt', 'Chile/EasterIsland', 'Etc/GMT+0', 'PST8PDT', 'America/Virgin', 'America/Fort_Wayne', 'Atlantic/Faeroe', 'Etc/GMT+9', 'W-SU', 'Etc/GMT+4', 'Etc/GMT+10', 'Pacific/Truk', 'Cuba', 'Eire', 'ROK', 'Asia/Ujung_Pandang', 'Etc/GMT+2', 'Etc/Universal', 'Brazil/DeNoronha', 'Jamaica', 'US/Aleutian', 'Australia/West', 'Singapore', 'PRC', 'Etc/Greenwich', 'Australia/South', 'Zulu', 'Pacific/Yap', 'Japan', 'Asia/Istanbul', 'Etc/GMT-3', 'US/Samoa', 'America/Shiprock', 'Asia/Ashkhabad', 'Etc/GMT-2', 'CET', 'WET', 'Asia/Chungking', 'Africa/Asmera', 'Etc/Zulu', 'Australia/NSW', 'Iceland', 'Mexico/General', 'US/East-Indiana', 'HST', 'Turkey', 'Universal', 'NZ-CHAT', 'MST', 'Asia/Dacca', 'US/Michigan', 'Atlantic/Jan_Mayen', 'Greenwich', 'Australia/North', 'America/Rosario', 'Africa/Timbuktu', 'Etc/GMT+1', 'Australia/Queensland', 'Etc/GMT+8', 'Pacific/Samoa', 'GMT+0', 'Asia/Macao', 'Etc/GMT-5', 'Etc/GMT0', 'America/Argentina/ComodRivadavia', 'Asia/Katmandu', 'America/Catamarca', 'Etc/GMT-7', 'America/Buenos_Aires', 'MST7MDT', 'Navajo', 'Pacific/Johnston', 'Etc/GMT', 'Brazil/Acre', 'Asia/Harbin', 'Etc/GMT-11', 'Mexico/BajaSur', 'NZ', 'America/Cordoba', 'America/Santa_Isabel', 'America/Ensenada', 'EET', 'Canada/Saskatchewan', 'Etc/GMT-4', 'UCT', 'EST', 'America/Louisville', 'America/Mendoza', 'Etc/GMT-1', 'Asia/Kashgar', 'Etc/GMT+7', 'America/Montreal', 'Brazil/East', 'Europe/Nicosia', 'Europe/Tiraspol', 'Hongkong', 'Etc/GMT-13', 'America/Knox_IN', 'Etc/GMT-10', 'Etc/GMT+6', 'Etc/UCT', 'Australia/LHI', 'Asia/Saigon'}

In [ ]:
t_naive = pd.Timestamp('2016-07-10 08:50')
t_naive

Timestamp('2016-07-10 08:50:00')

In [ ]:
t = t_naive.tz_localize(tz = 'US/Central')
t

Timestamp('2016-07-10 08:50:00-0500', tz='US/Central')

In [ ]:
t.tz_convert('Asia/Tokyo')

Timestamp('2016-07-10 22:50:00+0900', tz='Asia/Tokyo')

In [ ]:
rng = pd.date_range('2016-03-10', periods=10, tz='US/Central')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00-06:00    0
2016-03-11 00:00:00-06:00    1
2016-03-12 00:00:00-06:00    2
2016-03-13 00:00:00-06:00    3
2016-03-14 00:00:00-05:00    4
2016-03-15 00:00:00-05:00    5
2016-03-16 00:00:00-05:00    6
2016-03-17 00:00:00-05:00    7
2016-03-18 00:00:00-05:00    8
2016-03-19 00:00:00-05:00    9
Freq: D, dtype: int64

In [ ]:
rng = pd.date_range('2016-03-10', periods=10, tz='utc')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00+00:00    0
2016-03-11 00:00:00+00:00    1
2016-03-12 00:00:00+00:00    2
2016-03-13 00:00:00+00:00    3
2016-03-14 00:00:00+00:00    4
2016-03-15 00:00:00+00:00    5
2016-03-16 00:00:00+00:00    6
2016-03-17 00:00:00+00:00    7
2016-03-18 00:00:00+00:00    8
2016-03-19 00:00:00+00:00    9
Freq: D, dtype: int64

In [ ]:
ts.tz_convert('US/Central')

2016-03-09 18:00:00-06:00    0
2016-03-10 18:00:00-06:00    1
2016-03-11 18:00:00-06:00    2
2016-03-12 18:00:00-06:00    3
2016-03-13 19:00:00-05:00    4
2016-03-14 19:00:00-05:00    5
2016-03-15 19:00:00-05:00    6
2016-03-16 19:00:00-05:00    7
2016-03-17 19:00:00-05:00    8
2016-03-18 19:00:00-05:00    9
Freq: D, dtype: int64

In [ ]:
pd.date_range('03-12-2016 22:00', periods = 12, freq = 'H', tz = 'US/Eastern')

DatetimeIndex(['2016-03-12 22:00:00-05:00', '2016-03-12 23:00:00-05:00',
               '2016-03-13 00:00:00-05:00', '2016-03-13 01:00:00-05:00',
               '2016-03-13 03:00:00-04:00', '2016-03-13 04:00:00-04:00',
               '2016-03-13 05:00:00-04:00', '2016-03-13 06:00:00-04:00',
               '2016-03-13 07:00:00-04:00', '2016-03-13 08:00:00-04:00',
               '2016-03-13 09:00:00-04:00', '2016-03-13 10:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='H')

In [ ]:
data = pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, header = None,)

In [ ]:
data

           0_1         2
0   1950-01-01 -0.060310
1   1950-02-01  0.626810
2   1950-03-01 -0.008128
3   1950-04-01  0.555100
4   1950-05-01  0.071577
5   1950-06-01  0.538570
6   1950-07-01 -0.802480
7   1950-08-01 -0.851010
8   1950-09-01  0.357970
9   1950-10-01 -0.378900
10  1950-11-01 -0.515110
11  1950-12-01 -1.928100
12  1951-01-01 -0.084969
13  1951-02-01 -0.399930
14  1951-03-01 -1.934100
15  1951-04-01 -0.776480
16  1951-05-01 -0.862780
17  1951-06-01 -0.917860
18  1951-07-01  0.090023
19  1951-08-01 -0.377410
20  1951-09-01 -0.817780
21  1951-10-01 -0.212910
22  1951-11-01 -0.068519
23  1951-12-01  1.987200
24  1952-01-01  0.368250
25  1952-02-01 -1.747200
26  1952-03-01 -1.859500
27  1952-04-01  0.538520
28  1952-05-01 -0.773510
29  1952-06-01 -0.440930
..         ...       ...
798 2016-07-01  0.084758
799 2016-08-01  0.472380
800 2016-09-01  0.780970
801 2016-10-01 -1.917300
802 2016-11-01 -0.610910
803 2016-12-01  1.786400
804 2017-01-01  0.941970
805 2017-02-01  0.339860
806 2017-03-01  1.365400
807 2017-04-01 -0.088658
808 2017-05-01 -0.730140
809 2017-06-01  0.401660
810 2017-07-01  0.634230
811 2017-08-01  0.150040
812 2017-09-01 -0.492450
813 2017-10-01  0.690340
814 2017-11-01 -0.077573
815 2017-12-01 -0.058978
816 2018-01-01 -0.280840
817 2018-02-01  0.112730
818 2018-03-01 -0.941120
819 2018-04-01  0.543910
820 2018-05-01  1.179600
821 2018-06-01  0.379880
822 2018-07-01  0.611750
823 2018-08-01  0.836070
824 2018-09-01  0.584510
825 2018-10-01  0.412770
826 2018-11-01 -1.116200
827 2018-12-01  0.109730

[828 rows x 2 columns]

In [ ]:
data.head()

         0_1         2
0 1950-01-01 -0.060310
1 1950-02-01  0.626810
2 1950-03-01 -0.008128
3 1950-04-01  0.555100
4 1950-05-01  0.071577

In [ ]:
data.columns = ['month', 'value']
data.index = data.month
data = data.drop('month', 1)

In [ ]:
data.head()

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577

In [ ]:
data['1950':'1952']

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577
1950-06-01  0.538570
1950-07-01 -0.802480
1950-08-01 -0.851010
1950-09-01  0.357970
1950-10-01 -0.378900
1950-11-01 -0.515110
1950-12-01 -1.928100
1951-01-01 -0.084969
1951-02-01 -0.399930
1951-03-01 -1.934100
1951-04-01 -0.776480
1951-05-01 -0.862780
1951-06-01 -0.917860
1951-07-01  0.090023
1951-08-01 -0.377410
1951-09-01 -0.817780
1951-10-01 -0.212910
1951-11-01 -0.068519
1951-12-01  1.987200
1952-01-01  0.368250
1952-02-01 -1.747200
1952-03-01 -1.859500
1952-04-01  0.538520
1952-05-01 -0.773510
1952-06-01 -0.440930
1952-07-01  0.383080
1952-08-01 -0.030367
1952-09-01 -0.383450
1952-10-01 -0.437170
1952-11-01 -1.890900
1952-12-01 -1.826700

In [ ]:
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [ ]:
data['1951-11-11':'1951-11-12']

Empty DataFrame
Columns: [value]
Index: []

In [ ]:
data_pd = data.to_period()

In [ ]:
data_pd['1951-11-11':'1951-11-12']

            value
month
1951-11 -0.068519

In [ ]:
data_pd['1951-11-11':'1952-01-12']

            value
month
1951-11 -0.068519
1951-12  1.987200
1952-01  0.368250

In [ ]:
df = pd.DataFrame({'year': [2015, 2016],'month': [2, 3],'day': [4, 5],'hour': [2, 3]})
df

   year  month  day  hour
0  2015      2    4     2
1  2016      3    5     3

In [ ]:
pd.to_datetime(df)

In [ ]:
pd.to_datetime(df[['year', 'month', 'day']])

In [ ]:
ts = pd.Series(range(10), index = pd.date_range('7/31/2015', freq = 'M', periods = 10))
ts.truncate(before='10/31/2015', after='12/31/2015')

In [ ]:
ts[[0, 2, 6]].index

In [ ]:
rng = pd.date_range('1/1/2011', periods=72, freq='H')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [ ]:
converted = ts.asfreq('45Min', method='pad')

In [ ]:
ts

In [ ]:
converted = ts.asfreq('90Min', method = 'bfill')

In [ ]:
converted

In [ ]:
ts.resample('D').sum()

In [ ]:
%matplotlib inline 
import matplotlib.pylab

In [ ]:
df = pd.DataFrame(np.random.randn(600, 3), index = pd.date_range('7/1/2016', freq = 'S', periods = 600), columns = ['A', 'B', 'C'])

In [ ]:
df

In [ ]:
#pd.rolling_mean(df, window = 2)[1:10] # in future versions you want to resample separately
r = df.rolling(window = 10)
#r.agg, r.apply, r.count, r.exclusions, r.max, r.median, r.name, r.quantile, r.kurt, r.cov, r.corr, r.aggregate, r.std, r.skew, r.sum, r.var
df.plot(style = 'k--')
r.mean().plot(style = 'k')

In [ ]:
pd.ewma(df, span = 15, min_periods = 2)[1:10]

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index = pd.date_range('6/6/16', periods = 1000), columns = ['A', 'B', 'C', 'D'])

In [ ]:
df.head()

In [ ]:
df = df.cumsum()
df.rolling(window = 50).sum().plot(subplots=True)

In [ ]:
# What about a custom function?
df.rolling(window = 10).apply(lambda x: np.fabs(x - x.mean()).mean())

In [ ]:
df.expanding(min_periods = 1).mean()[1:5]