In [1]:
#!pip install snscrape

In [2]:
import snscrape.modules.twitter as sntwitter

In [3]:
import pandas as pd

In [8]:
tweets=[]

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:elonmusk').get_items()):
    if i>1000:
        break
    tweets.append([tweet.date,tweet.id,tweet.content,tweet.username])

C:\Users\ibrah\AppData\Local\Temp\ipykernel_21224\2040491609.py:6: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [9]:
df=pd.DataFrame(tweets,columns=["date","Tweet Id","Text","Username"])

In [10]:
df.head()

,date,Tweet Id,Text,Username
0,2022-11-12 07:47:20+00:00,1591336830389067778,@WholeMarsBlog FSD V11 rolled out at 11:11pm P...,elonmusk
1,2022-11-12 07:36:39+00:00,1591334141140045824,ðŸª¦ðŸ¤–,elonmusk
2,2022-11-12 07:04:19+00:00,1591326005272141826,Twitter is,elonmusk
3,2022-11-12 06:55:42+00:00,1591323837077278721,@KimDotcom @sama Not sure I have much to add,elonmusk
4,2022-11-12 06:47:53+00:00,1591321867029094400,@sama https://t.co/Im1hBlUihz,elonmusk