In [1]:
#!pip install snscrape

In [2]:
import snscrape.modules.twitter as sntwitter

In [3]:
import pandas as pd

In [8]:
tweets=[]

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:elonmusk').get_items()):
    if i>1000:
        break
    tweets.append([tweet.date,tweet.id,tweet.content,tweet.username])

C:\Users\ibrah\AppData\Local\Temp\ipykernel_21224\2040491609.py:6: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [9]:
df=pd.DataFrame(tweets,columns=["date","Tweet Id","Text","Username"])

In [10]:
df.head()

,date,Tweet Id,Text,Username
0,2022-11-12 07:47:20+00:00,1591336830389067778,@WholeMarsBlog FSD V11 rolled out at 11:11pm P...,elonmusk
1,2022-11-12 07:36:39+00:00,1591334141140045824,爬,elonmusk
2,2022-11-12 07:04:19+00:00,1591326005272141826,Twitter is,elonmusk
3,2022-11-12 06:55:42+00:00,1591323837077278721,@KimDotcom @sama Not sure I have much to add,elonmusk
4,2022-11-12 06:47:53+00:00,1591321867029094400,@sama https://t.co/Im1hBlUihz,elonmusk

In [30]:
tweets2=[]

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('togg since:2022-11-11 until:2022-11-12').get_items()):
    
    tweets2.append([tweet.date,tweet.id,tweet.content,tweet.username])

C:\Users\ibrah\AppData\Local\Temp\ipykernel_21224\2104285828.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets2.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [31]:
# Yukar覺da bir g羹nl羹k togg ile at覺lan verileri 癟ekmi olduk

In [32]:
df=pd.DataFrame(tweets2,columns=["date","Tweet Id","Text","Username"])

In [33]:
df.head()

,date,Tweet Id,Text,Username
0,2022-11-11 23:58:30+00:00,1591218844571688960,@sonceneviz @aykiricomtr Bir Markan覺n Yerli Ve...,CdrLhsn
1,2022-11-11 23:56:31+00:00,1591218345424334849,@yenisafak can atakliyi sevmem togg yerli diyo...,ZBAYBEKR2
2,2022-11-11 23:54:39+00:00,1591217876106903553,@metcihan Togg,Ozturk181
3,2022-11-11 23:52:19+00:00,1591217286840451074,@caglarcilara Zalimin yan覺nda olmamak. 襤ktidar...,ae45016998
4,2022-11-11 23:52:00+00:00,1591217209644392450,"Heykelemi konuuyo la bu beton kafa, kimsede y...",darkbluegreen88

In [35]:
df.shape

(2341, 4)

In [36]:
tweets2=[]

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('togg near:"Los Angeles" within:10km').get_items()):
    
    tweets2.append([tweet.date,tweet.id,tweet.content,tweet.username])

C:\Users\ibrah\AppData\Local\Temp\ipykernel_21224\3808098859.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets2.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [ ]:
#Los Angeles ve ona yakon 10 km  癟evresinde togg ile konuanlar覺n twitleri

In [37]:
df=pd.DataFrame(tweets2,columns=["date","Tweet Id","Text","Username"])

In [38]:
df.head()

,date,Tweet Id,Text,Username
0,2022-11-12 18:01:39+00:00,1591491426319470595,@Togg2022 next cumhurbaskaninin siparisini nas...,KolivarFatih
1,2022-11-12 13:46:14+00:00,1591427150602964992,@solcugazete Ay bizde cok uzulmustuk togg sipa...,rhberssrgu
2,2022-11-12 13:39:53+00:00,1591425551512010752,@HaberReport Togg ilk bayilii saraya m覺 vermi...,mujdatozkan1
3,2022-11-12 12:52:09+00:00,1591413538488307715,@Togg2022 Yau he he,HHK1989
4,2022-11-12 12:06:45+00:00,1591402115314110464,@baristekdemir @Togg2022 Yaln覺z seri 羹retim ol...,Copataxi_ecu

In [39]:
df.shape

(40, 4)